extends ../layout

block content
  .jumbotron
    .container
      h3 &nbsp;
      h1 Hello, #{user.name}!
      p
        |在这里, 你有什么困扰都可以submint哦
      p
        a.btn.btn-primary.btn-lg(href="#", role="button")
          |Learn more
  .container
    .row
      .panel.panel-defatul
        .panel-heading
          h3 Your Suggests
        .panel-body
          ul.media-list
            each item in suggests
              li.media
                .pull-left
                  a.comment(href="#comments", data-sid="#{item._id}", data-tid="#{item.from}")
                    img.media-object(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+", style="width: 64px; height: 64px;")
                .media-body
                  h4.media-heading #{item.from.name}
                  p #{item.content}
                  if item.reply && item.reply.length > 0
                    each reply in item.reply
                      .media
                        .pull-left
                          //- a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{reply.from._id}")
                          img.media-object(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+", style="width: 64px; height: 64px;")
                        .media-body
                          h4.media-header 
                            span.text-info 回复
                          p #{reply.content}
                hr
  .container
    form(method="POST", action="/student/suggest/save")
      input(type="hidden", name="suggest[from]", value="#{user._id}")  
      .form-group
        label your suggest
        textarea.form-control(name="suggest[content]",rows="17")
      button.btn.btn-default(type="submit")
        |submit
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | &copy; 2014 Company, Inc. &middot; 
          a(href='#') Privacy
          |  &middot; 
          a(href='#') Terms